.header {
  &__content {
    display: flex;
    align-items: center;
    padding: 22px 0;
  }

  &__content-link-img {
    width: 107px;
    height: 28px;
    margin-right: 58px;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__nav-list-item {
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
    transition: all 0.3s ease;
  }

  &__nav-list-item:hover {
    color: #78818f;
    scale: 1.3;
    transition: all 0.3s ease;
  }

  &__btn {
    margin-left: auto;
    padding: 14px 39px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    width: 180px;
    height: 53px;
    background: #fcb72b;
    transition: all 0.3s ease;
  }

  &__btn:hover {
    scale: 1.1;
    background: #2b74fc;
    border-radius: 12px;
    transition: all 0.3s ease;
  }

  &__menu {
    margin-right: auto;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url(../IMG/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .header {
    &__content-link-img {
      width: 107px;
      height: 28px;
      margin-left: 38px;
    }

    &__btn {
      margin-right: 12px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    &__content-link-img {
      width: 107px;
      height: 28px;
      margin-left: 38px;
    }

    &__btn {
      margin-right: 12px;
    }
  }
}

@media only screen and (max-width: 660px) {
  .header {
    &__content-link-img {
      margin-right: 250px;
      display: unset;
    }

    &__nav {
      display: none;
    }

    &__btn {
      display: none;
    }

    &__menu {
      display: block;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &__content-link-img {
      margin-right: 150px;
      display: unset;
    }
  }
}

@media only screen and (max-width: 375px) {
  .header {
    &__content-link-img {
      width: 75px;
      height: 20px;
      margin-right: 150px;
      display: unset;
    }

    &__nav {
      display: none;
    }

    &__btn {
      display: none;
    }

    &__menu {
      display: block;
    }
  }
}
